<h1>2013 Umpire Rankings</h1>

Search Table: <input ng-model="query">
<table class="table table-striped table-hover table-responsive" ts-wrapper>
	<thead>
		<tr>
			<th ts-criteria="name">Umpire</th>
			<th ts-criteria="correctCallPercent" ts-default="descending">Correct Calls (%)</th>
			<th ts-criteria="correctCalls|parseInt">Total Correct Calls</th>
			<th ts-criteria="incorrectCalls|parseInt">Total Incorrect Calls</th>
			<th ts-criteria="totalCalls|parseInt">Total Calls</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="umpire in umpires|filter:query" ts-repeat>
			<td><a href='#/umpires/{{umpire.id}}'>{{umpire.name}}</a></td>
			<td>{{umpire.correctCallPercent | number:2}}</td>
			<td>{{umpire.correctCalls}}</td>
			<td>{{umpire.incorrectCalls}}</td>
			<td>{{umpire.totalCalls}}</td>
		</tr>
	</tbody>
</table>

