<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Game</th>
			<th>Calls Correct (%)</th>
			<th>Correct Calls</th>
			<th>Incorrect Calls</th>
			<th>Total Calls</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="game in games">
			<td>{{game.game_date}}</td>
			<td>{{game.home_team_abbrev}} vs. {{game.away_team_abbrev}}</td>
			<td>{{game.correct_calls * 100 / game.total_calls}}</td>
			<td>{{game.correct_calls}}</td>
			<td>{{game.incorrect_calls}}</td>
			<td>{{game.total_calls}}</td>
		</tr>
	</tbody>
</table>

