.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.body-wrapper {
	margin-top: 5em;
  padding-bottom: 5em;
}

th:hover {
	text-decoration: underline;
	cursor: pointer;
}


.showIfLast {
	display: none;
}